<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img src="../../assets/induction.webp" alt="" width="400px" height="500px" >
            <button class="btn">GO TO CART</button>
            <button class="btn">BUY NOW</button>
        </div>
        <div class="col">
                <p class="text my-5">Pigeon Acer plus Induction Cooktop  (Black, Touch Panel)</p>
                <p ><b style="font-size: 40px;">₹1,848 </b> <span style="font-size: 20px;">48% of</span> </p>
                <p><b>Available offers</b></p>
                <ul>
                    <li>Bank Offer10% instant discount on SBI Mastercard Debit Cards, up to ₹250 on orders of ₹2,500 and aboveT&C</li>
                    <li>Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</li>
                    <li>Combo OfferBuy 3 items save 5%; Buy 4 save 7%; Buy 5+ save 10%T&C</li>
                    <li>Partner OfferPurchase this product & win a surprise cashback coupon for The Big Billion Days Sale 2022 <a href=""> Know More</a></li>
                </ul>
                <p><a href=""><b>View 1 more offer</b></a></p>
                <p>Warranty :       <span style="margin-left: 70px;">1 year</span>  </p>
                <p>Delivery:   <input style="margin-left: 70px;" type="text" placeholder="Enter pincode "><a href="">check</a>   
                     <!-- <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Favorite food</mat-label>
                      <input matInput placeholder="Ex. Pizza" value="Sushi">
                    </mat-form-field>
                
                  </form>    -->
                         </p>
                <p>Usually delivered in7 days</p>
                <p>Enter pincode for exact delivery dates/charges</p>
                <p><a href="">View Details</a></p>
                <p>Seller:</p>
                    <ul><li> Days Replacement Policy</li>
                    <li>GST invoice available</li></ul>
                
                <p>View <a href="">more sellers</a>  starting from ₹1,848</p>
                <p>Highlights:</p>
                    <ul style="margin-left: 70px;">
                        <li>Type: Induction Cooktop</li>
                        <li>Worktop Material:Crystal</li>
                        <li>Power Consumption: 1800 W</li>
                        <li>Color: Black</li>
                        <li>Cash on Delivery</li>
                        <li>Net banking & Credit/ Debit/ ATM card</li>
                        <li><a href="">View Details</a></li>
                    </ul>
                    
                <p>Description:</p>
                <p style="margin-left: 70px;"> You can conveniently and quickly prepare your 
                    favourite dishes with the help of the Pigeon Acer Plus Induction Cooktop. Its feather touch
                     buttons enable you to easily access all the options while also ensuring a simple cooking
                      experience. In addition, this induction cooktop facilitates effortless cleaning of the 
                      corners due to its simple-to-clean design. Moreover, the sturdy ABS body of this induction
                       cooktop is resistant to shocks and rust, maintaining its appearance for a considerable
                        amount of time.</p>

        </div>

    </div>
</div>
